<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TaskPIN</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
		integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
		integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="icon" href="/img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/contact.css">
</head>

<body>
	<nav class="overlay-black">
		<div class="container">
			<div id="hamburger">
				<span class="bar"></span>
				<span class="bar mid"></span>
				<span class="bar"></span>
			</div>
			<a href="index.html" class="my-navbar-logo"><img src="/img/taskpin.png" alt=""></a>
			<div id="toggler">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<ul class="my-nav-menu">
				<li class="my-nav-item home active">
					<a href="index.html" class="my-nav-link">Home</a>
				</li>
				<li class="my-nav-item">
					<a href="login.html" class="my-nav-link">Login</a>
				</li>
				<li class="my-nav-item">
					<a href="signup.html" class="my-nav-link">SignUp</a>
				</li>
				<li class="my-nav-item">
					<a href="contact.html" class="my-nav-link">Contact Us</a>
				</li>
			</ul>
        </nav>

	<section id="showcase">
		<div class="overlay-dark">
			<p class="text-end Quote text-light text-center">
				<span class="Intro">ABOUT US <img src="/img/Pin.png" width="80" height="135.4"></img> </span>
				<br>
			</p>
		</div>
	</section>

	<section id="kshitij">
		<div class="bg-dark pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 text-light whatwedo">
						<div class="bluetext">Kshitij Jha</div>
						<p class="TEXT">
							Insert About
						</p>
					</div>
					<div class="col-md-4">
						<img src="/img/dora_sus.jpeg" alt="" class="img-fluid d-sm-block about2-img">
					</div>
				</div>
			</div>
		</div>
	</section>


    <section id="tushar">
		<div class="pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 whatwedo">
						<div class="HEAD">Tushar Sethi</div>
						<p class="text-dark">
							Insert About
						</p>
					</div>
					<div class="col-md-4">
						<img src="/img/dora_sus.jpeg" alt="" class="img-fluid d-sm-block about2-img">
					</div>
				</div>
			</div>
		</div>
	</section>

    <section id="adit">
		<div class="bg-dark pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 whatwedo">
						<div class="bluetext">Adit Malhotra</div>
						<p class="TEXT">
							Insert About
						</p>
					</div>
					<div class="col-md-4">
						<img src="/img/dora_sus.jpeg" alt="" class="img-fluid d-sm-block about2-img">
					</div>
				</div>
			</div>
		</div>
	</section><section id="gautam">
		<div class="pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 whatwedo">
						<div class="HEAD">Gautam Gosain</div>
						<p class="text-dark">
							Insert About
						</p>
					</div>
					<div class="col-md-4">
						<img src="/img/dora_sus.jpeg" alt="" class="img-fluid d-sm-block about2-img">
					</div>
				</div>
			</div>
		</div>
	</section><section id="akshit">
		<div class="bg-dark pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 whatwedo">
						<div class="bluetext">Akshit Bhardwaj</div>
						<p class="TEXT">
							Insert About
						</p>
					</div>
					<div class="col-md-4">
						<img src="/img/dora_sus.jpeg" alt="" class="img-fluid d-sm-block about2-img">
					</div>
				</div>
			</div>
		</div>
	</section><section id="aayush">
		<div class="pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 whatwedo">
						<div class="HEAD">Aayush Gupta</div>
						<p class="text-dark">
							Insert About
						</p>
					</div>
					<div class="col-md-4">
						<img src="/img/dora_sus.jpeg" alt="" class="img-fluid d-sm-block about2-img">
					</div>
				</div>
			</div>
		</div>
	</section><section id="parth">
		<div class="bg-dark pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 whatwedo">
						<div class="bluetext">Parth Kamra</div>
						<p class="TEXT">
							Insert About
						</p>
					</div>
					<div class="col-md-4">
						<img src="/img/dora_sus.jpeg" alt="" class="img-fluid d-sm-block about2-img">
					</div>
				</div>
			</div>
		</div>
	</section><section id="laksh">
		<div class="pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-8 whatwedo">
						<div class="HEAD">Laksh Gupta</div>
						<p class="text-dark">
							Insert About
						</p>
					</div>
					<div class="col-md-4">
						<img src="/img/dora_sus.jpeg" alt="" class="img-fluid d-sm-block about2-img">
					</div>
				</div>
			</div>
		</div>
	</section>
	
    



	<footer class="bg-dark text-center footer">
		<div class="text-center p-3 text-light">
			Copyright &copy; <span id="year"></span>
			<div class="mt-2"> <img src="/img/taskpin.png" alt="" class="footer-img img-fluid"></div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
		integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		$('#year').text(new Date().getFullYear());

		$('.slider').slick({
			infinite: true,
			slideToShow: 1,
			slideToScroll: 1
		});

		const hamburger = document.querySelector("#toggler");
		const navMenu = document.querySelector(".my-nav-menu");
		const nav = document.querySelector("nav");

		document.addEventListener("click", collapse);

		function collapse(e) {
			if (e.target.id == "toggler" || e.target.classList == "bar") {
				mobileMenu();
			}
			else if (e.target.classList.contains("show") || e.target.classList.contains("my-nav-link") || e.target.getAttribute('href') != null || e.target.classList.contains('header-img') || e.target.getAttribute('type') == 'submit') { }
			else if (hamburger.classList.contains("show")) {
				mobileMenu();
			}
		}

		function mobileMenu() {
			hamburger.classList.toggle("show");
			navMenu.classList.toggle("show");
		}
	</script>
</body>

</html>
